body {
    background-color:powderblue;
}

.main-content {
    background-color:cornflowerblue;
}

#sensitive {
    /* background-image:; */
    font-style: italic;
}

.row {
    margin-bottom: 5px;
    background-color:cornflowerblue;
    padding: 10px 0px;
}

.container {
    margin-top: 10px;
}

.card {
    background-color: white;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}